* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  /* we are making use of the inheritance by making the element without
  open class inherit this color */
  color: #343a40;
  line-height: 1;
}

.accordion {
  width: 700px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  /* The padding is important to add space between different items */
  padding: 24px;

  display: grid;
  /* setting auto width = element will take only needed space for it content
  on the other hand the fr unit allows it to occupy the available space */
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}

/* this will be the color when item is closed other wise it will inherit it
from the body */
.number {
  color: #ced4da;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.hidden-box {
  grid-column: 2;
  /* hide the text of closed items */
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #858e96;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* the class of the opened item our default is #2 */
.open {
  border-top: 4px solid #087f5b;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #087f5b;
}
